In [1]:
import pandas as pd

In [2]:
#check pandas version
print(pd.__version__)

1.5.3

##### series in pandas 
##### create, manipulate, query, delete

In [3]:
arr = [0,1,2,3,4]
s1 = pd.Series(arr)

In [4]:
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
  import numpy as np
n = np.random.randn(5) #create a random numpy array

In [7]:
index = ['a', 'b', 'c', 'd', 'e']

In [9]:
s2 = pd.Series(n, index=index)
s2

a   -1.530338
b    1.373018
c   -1.402829
d    1.221852
e    2.190515
dtype: float64

In [10]:
#series from a dictionary
d = {'a':1,'b':2,'c':3,'d':4,'e':5}

In [15]:
 s4 = pd.Series(d)
 type(s4)

pandas.core.series.Series

In [18]:
#slicing 
s4[:-2]

a    1
b    2
c    3
dtype: int64

In [24]:
arr = [0,1,2,3,4]
s6 = arr.append(s4)

In [25]:
print(s6)

None

In [29]:
print('median',s4.median())
print('max', s4.max())

median 3.0
max 5

##### creating a dataframe

In [41]:
dates = pd.date_range('today', periods=6) #pandas date
num_array = np.random.randn(6,4)
num_array_2 = num_array.astype('int32')
columns = ['A', 'B', 'C', 'D']

In [42]:
#create dataframe
df1 = pd.DataFrame(num_array, index=dates, columns=columns)

In [43]:
df1

                                   A         B         C         D
2023-08-18 21:50:34.214875  0.192474  0.452427  0.863627 -1.464000
2023-08-19 21:50:34.214875 -0.440656 -0.116781 -0.682516  0.076852
2023-08-20 21:50:34.214875 -0.607798 -0.267647 -0.828164 -0.914946
2023-08-21 21:50:34.214875 -0.243717 -0.184601  1.108179  0.763748
2023-08-22 21:50:34.214875 -1.965855  1.208046 -0.993770 -1.447776
2023-08-23 21:50:34.214875 -0.789403 -0.259888 -1.109478  0.025464

In [48]:
data = {'langauges' : ['python', 'java', 'javascript', 'c++', 'bash', 'vimscript'],
       'rating' : [5,3,4,5,3,4],
       'use-case' : ['ML', 'Fintech', 'Webapps', 'IOT', 'Systems', 'CLI']}
indexes = [1,2,3,4,5,6]
df2 = pd.DataFrame(data, index=indexes)

In [46]:
df2

    langauges  rating use-case
1      python       5       ML
2        java       3  Fintech
3  javascript       4  Webapps
4         c++       5      IOT
5        bash       3  Systems
6   vimscript       4      CLI

In [50]:
#return datatypes
df2.dtypes

langauges    object
rating        int64
use-case     object
dtype: object

In [52]:
#return head of data
df2.head()

    langauges  rating use-case
1      python       5       ML
2        java       3  Fintech
3  javascript       4  Webapps
4         c++       5      IOT
5        bash       3  Systems

In [55]:
df2.index

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [56]:
df2.columns

Index(['langauges', 'rating', 'use-case'], dtype='object')

In [58]:
df2.values

array([['python', 5, 'ML'],
       ['java', 3, 'Fintech'],
       ['javascript', 4, 'Webapps'],
       ['c++', 5, 'IOT'],
       ['bash', 3, 'Systems'],
       ['vimscript', 4, 'CLI']], dtype=object)

In [60]:
df2.describe()

         rating
count  6.000000
mean   4.000000
std    0.894427
min    3.000000
25%    3.250000
50%    4.000000
75%    4.750000
max    5.000000

In [61]:
#Transposing 
df2.T

                1        2           3    4        5          6
langauges  python     java  javascript  c++     bash  vimscript
rating          5        3           4    5        3          4
use-case       ML  Fintech     Webapps  IOT  Systems        CLI